{
box-sizing: border-box;
}
  *, *:before,* :after{
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10px;
}

.maintitle {
 position: absolute;
 top: 20px;
 margin: 0 auto;
 text-align: center;
 width: 100%;


}
.container-class {
  background: linear-gradient(180deg, #C1BBD2 0%, rgba(96, 78, 146, 0) 100%);
  background-position: center top;
  position: relative;
  margin: 0 auto;
  padding-top: 79px;
  width: 375px;
  height: 79px;
}

.container-top {
  width: 100%;
  height: 20px;
  position: absolute;
  background-position: center top;
  top: 0%;
}

.map {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 168px;
  padding-top: 4px;
  margin: 0 auto;
}


.arrow {
  display: block;
  float: none;
  padding: 3px;
  padding-left: 45%;
  padding-right: 50%;
  margin-top: 0px;
  background-color: #F1F1F1;
}

.back {
  position: absolute;
  top: 35px;
  padding-left: 15px;
  margin: 0 auto;
  text-align: left;
  width: 100%;

}

.arrow-left {
  display: inline-block;
  padding-left: 5px;
  padding-top: 35px;
  width: 100%;
  margin-left: 10px;
}


h1 {
  color: #2A126D;
  font-family: SF Pro display;
  font-size: 16px;
  line-height: 200%;
  font-weight: 700;
  margin: 0;
  text-align: center;

}


h2 {
  color: 	#808080;
  font-family: SF Pro display;
  font-size: 14px;
  line-height: 120%;
  font-weight:500;
  text-align: right;
  margin-right: 8px;


}

h3 {
  color: 	#000000;
  font-family: SF Pro display;
  font-size: 15px;
  line-height: 120%;
  font-weight:400;
  text-align: left;
  padding-left: 5px;
}

h4 {
  color: #000000;
  font-family: SF Pro display;
  font-size: 26px;
  line-height: 200%;
  font-weight: 700;
  margin: 0;

}

h5 {
  color: #2A126D;
  font-family: SF Pro display;
  font-size: 16px;
  line-height: 120%;
  font-weight:600;
  text-align: center;
  padding-left: 3px

}

h6 {
  color: #000000;
  font-family: SF Pro display;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
  font-weight:600;
  text-align: left;
  margin-left: 8px;

}


.container {
  background-color: #DCDCDC;
  margin-top: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;

}
.content {
 width: 100%;
 position: relative;


}
.row {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #F1F1F1;
}
.block {
  width: 100%;
}

.reroute {
 border:3px solid #FF0000;
 background-color: #FFCBCB;
}
.outofservice {
 border:3px solid #696969;
 background-color: #9C9C9C;
}
.location {
  box-sizing: border-box;
  width: 100%;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 6px;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;

}
.location > * {
  flex: 1 100%;
}
.data {
  width:100%;
  flex: 1;
}
