{
box-sizing: border-box;
}
  *, *:before,* :after{
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10px;
}

.contenttop{
  display: inline-block;
}
.container-class {
  background: linear-gradient(180deg, #C1BBD2 0%, rgba(96, 78, 146, 0) 100%);
  margin: 0 auto;
  width: 375px;
  height: 79px;

}
.maintitle {
  display: inline-block;
 text-align: center;
 width: 100%;
 padding-top: 10px;

}

.container-top {
  width: 100%;
  height: 20px;
   background-position: center top;
  top: 0%;
  display:inline-block;
}

.arrow-left {
  float: left;
  display:inline-block;
  padding-left: 5px;
  padding-top: 25px;
  width: 100%;
  margin-left: 10px;
}

.back {
  display:inline-flex;
  text-align:left;
  margin-left: 2px;

}
.arrow {
  float: none;
  padding: 3px;
  padding-left: 45%;
  padding-right: 50%;
  margin-top: 0px;
  background-color: #F1F1F1;
}

.map {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 100%;
  height: 168px;
  padding-top: 2px;
  margin: 0 auto;
}


h1 {
  color: #2A126D;
  font-size: 14px;
  line-height: 250%;
  font-weight: 700;
  margin: 0;

}


h2 {
  color: 	#808080;
  font-size: 14px;
  line-height: 120%;
  font-weight:500;
  text-align: right;
  margin-right: 8px;


}

h3 {
  color: 	#000000;
  font-size: 15px;
  line-height: 120%;
  font-weight:400;
  text-align: left;
}

h4 {
  color: #000000;
  font-size: 22px;
  line-height: 200%;
  font-weight: 700;
  margin: 0;

}

h5 {
  color: #2A126D;
  font-size: 15px;
  line-height: 120%;
  font-weight:600;
  text-align: center;
  padding-left: 3px

}

h6 {
  color: #000000;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
  font-weight:600;
  text-align: left;
  margin-left: 8px;

}


.container {
  background-color: #DCDCDC;
  margin-top: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;

}
.row {
  float:left;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #F1F1F1;
}
.block {
  width: 100%;
}

.reroute {
 background-color: #FFCBCB;
}
.outofservice {
 background-color: #9C9C9C;
}
.location {
  box-sizing: border-box;
  width: 100%;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 6px;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;


}

.location:hover {
  background-color: #ECECEC;
}
.location > * {
  flex: 1 100%;
}
.data1 {
  flex: 0 1 110px;
}
.data2 {
flex: 1;
}

.data3 {
  flex: 0 1 120px;
}

